#ifndef ENV_H
#define ENV_H

// --- WiFi 設定 ---
#define SSID_NAME "your_ssid"
#define SSID_PASSWORD "your_password"
// --- ESP32 設定
#define PROJECT_PREFIX "aiot-planter/v1/devices/"
#define DEVICE_ID "your_device_id"  // 每台 ESP32 燒錄前改這裡
// --- MQTT Broker 設定 ---
#define MQTT_SERVER "your_mqtt_server"
#define MQTT_PORT 1883
#define MQTT_TOPIC PROJECT_PREFIX DEVICE_ID "/sensor"
// --- 後端 PORT 設定 ---
#define BACKEND_PORT 3000
// --- DHT 設定 ---
#define DHT_PIN 42
#define DHT_TYPE DHT11
// --- SOIL 設定 ---
#define SOIL_PIN 1
#define DRY 4095
#define WET 1200
// --- I2C 設定 ---
#define I2C2_SDA 47
#define I2C2_SCL 21
// --- OLED 設定 ---
#define SCREEN_WIDTH 128 
#define SCREEN_HEIGHT 64 
#define OLED_RESET     -1
// --- CAMERA_MODEL_ESP32S3_EYE 設定 ---
#define PWDN_GPIO_NUM  -1
#define RESET_GPIO_NUM -1
#define XCLK_GPIO_NUM  15
#define SIOD_GPIO_NUM  4
#define SIOC_GPIO_NUM  5

#define Y2_GPIO_NUM 11
#define Y3_GPIO_NUM 9
#define Y4_GPIO_NUM 8
#define Y5_GPIO_NUM 10
#define Y6_GPIO_NUM 12
#define Y7_GPIO_NUM 18
#define Y8_GPIO_NUM 17
#define Y9_GPIO_NUM 16

#define VSYNC_GPIO_NUM 6
#define HREF_GPIO_NUM  7
#define PCLK_GPIO_NUM  13

#endif