# --- 資料庫名稱 ---
DB_NAME=sq_db
# --- 後端 PORT ---
PORT=3000
# --- MQTT 設定 ---
MQTT_BROKER=tcp://localhost:1883
MQTT_CLIENT_ID=gin_client
MQTT_TOPIC=aiot-planter/v1/devices/+/sensor
# --- Python 設定 ---
TARGET_DEVICE_ID=esp32-s3-01
# --- 認證與路徑 ---
JWT_SECRET=YOUR_SECRET_KEY
